@media (min-width: 320px) and (max-width: 778px) {
    ul.nav-ul.nav-list-items.d-flex li.nav-li {
        width: 20%;
        padding: 0px 0px 10px 8px;
    }

    .header-section-silk {
        padding: 2px 15px !important;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    div#navbarSupportedContent ul.navbar-nav.ms-auto.mb-2.mb-lg-0.right-side-nav li {
        padding-bottom: 30px;
    }

    .login-btns {
        border: 0px;
        background-color: #F8EFED;
        color: #3A424C;
        text-decoration: none;
        padding: 10px 24px !important;
        border-radius: 50px;
    }

    .count {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        padding: 0px 4px;
        font-size: 9px;
        top: -2px;
        right: -7px;
        color: white;
        width: 15px;
    }

    .left-slide-part p {
        width: 100%;
    }

    .left-slide-part {
        padding-top: 25px;
        text-align: center;
    }

    .owl-carousel.owl-theme.banner-sec-top.owl-loaded.owl-drag .owl-nav button.owl-prev {
        margin-top: -17% !important;
        margin-left: -6px;
    }

    .left-slide-part h2:after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: #FFC0CB;
        width: 151px;
        margin-left: 15px;
        top: 8%;
        left: 59%;
    }

    .pills-section {
        margin: 0 15px;
    }

    .content-mid-sec-off {
        text-align: center;
        padding-bottom: 40px;
    }

    .owl-carousel.owl-theme.banner-sec-top.owl-loaded.owl-drag .owl-nav button.owl-next {
        margin-top: -17% !important;
        margin-right: 6px;
    }

    .col-md-4.right-slide-part {
        margin-top: 50px;
    }

    .left-slide-part h2 {
        margin-bottom: 15px;
        font-size: 50px;
        margin-top: -10px;
    }

    ul.nav-ul.nav-list-items.d-flex {
        flex-wrap: wrap;
    }

    .nav-ul {

        flex-wrap: wrap;
    }

    .mobil-view-section {
        display: block !important;
        height: 100%;
    }

    .large-screen-view {
        display: none !important;
    }

    .model-img-cards img {
        width: 100%;
        padding: 10px 30px 20px 30px !important;
    }
}

@media (min-width:778px) and (max-width: 1200px) {
    .dropdown-menu.px-3.rounded-3.border-0.shadow .row {
        width: 410px;
        flex-wrap: wrap;
    }

    .mega-menu-dropdown {
        position: absolute !important;
        left: -70px !important;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .girl-cards,.item_cardW{
        width: 200px !important;
    }
}


@media (max-width:1024) {
    
}

/* our featured start  */

/* Responsive styling */
@media (max-width: 768px) {
    .owl-carousel .item {
        padding: 5px; /* Reduce padding on tablet */
    }
    
    .card-viewMore {
        width: 90%; /* Take 90% of the width on tablet */
    }
}

@media (max-width: 576px) {
    .owl-carousel .item {
        padding: 5px; /* Reduce padding on mobile */
        width: 258px;
    }
    
    .card-viewMore {
        width: 95%; /* Take 95% of the width on mobile */
    }
}

@media (max-width:768px){
    .card-viewMore-title{
        font-size: 16px !important;
    }
    .card-viewMore-body{
        padding: 13px;
    }
}

@media (max-width:452px) {
    .card-viewMore-title{
        font-size: 12px !important;
    }
    .card-viewMore-body{
        padding: 13px;
    }
}


/* our  featured end  */
/* slider  start */
@media (max-width:450px) {
    
        .cat_cardslid {
            height: 50px;
        }
        .left-slide-part h2 {
            margin-bottom: 15px;
            font-size: 35px !important;
            margin-top: 5px;
            position: absolute !important;
        }
        /* .left-slide-part p {
            width: 100%;
            text-align: justify;
            position: absolute;
            margin-top: 41px;
            padding: 0px 24px;
        }
     */
     .left-slide-part p {
        width: 100%;
        margin-top: 47px;
        text-align: justify;
    }
    .left-slide-part h2:after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: #FFC0CB;
        width: 160px;
        margin-left: 15px;
        top: 94%;
        left: 33%;
    }
}


@media (min-width:768px) {
    .mb-nav{
        display: none;
    }
    
  }
   /* mobile nav css end */
   @media (min-width:770px){
       .mobile-view{
           display: none;
           
       }
       .cat_cardslid{
        display: none;
       }
       .main-slider{
        margin-top: 172px !important;
      }
      
      
   }
   @media (max-width:768px){
       .desktop-view{
           display: none;
       }
       .nav-list .nav-ul .nav-item{
        display: none !important;
       }
       header {
        height: 150px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: rgba(106, 106, 106, 0.1) 0px 5px 5px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg,  #E0C3FC 49%, #e19898 100%);
    }
  
  
     
     
    .owl-stage{
      display: flex;
      gap:32px;
      align-items: center;
      justify-content: space-evenly;
    }
    .girl-cards .visit-sec {
      background-color: #DDB8A0;
      padding: 18px 22px !important;
      display: flex;
      border-radius: 0px 0px 10px 10px;
      margin-top: -1px;
      font-size: 16px !important;
      color: white;
      align-items: center;
      justify-content: space-between !important;
  }
  
      
   }
  
/* slider   end */
